.form {
  background-color: #6233b9;
  padding: 1rem;
  width: 100%;
  /* margin: 2rem auto;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); */
}

.form label {
  display: block;
  margin-bottom: 0.5rem;
  color: #eadbfb;
  font-weight: bold;
}

.form textarea,
.form input {
  padding: 0.5rem;
  background-color: #eadbfb;
  border-radius: 10px;
  color: #6233b9;
}
